##
# These properties are specific to the individual's development environment.
#

# Default JDK 7 installation location for Mac OS X.
jdk7.home = /Library/Java/JavaVirtualMachines/jdk1.7.0_76.jdk/Contents/Home

# JDK 7 bootclasspath.
build.bootclasspath = ${jdk7.home}/jre/lib/rt.jar\
    :${jdk7.home}/jre/lib/jsse.jar\
    :${jdk7.home}/jre/lib/jce.jar
